.user-form-input{
    margin-left: 0.4rem;
    margin-right: 0.4rem;

    &.input-small{
        width: 25%;
    }
    &.input-large{
        width: 40%;
    }
}

button{
    width: 25%;
    display: block;
    float: right;
    margin-right: 0.4rem;
}
